{{#if isAdmin}}
  <div class="form-container playList">
    <form action="/playlist/add" method="POST" class="form">
      <h1>Agregar a la lista de reproduccion</h1>
      <div class="input-container">
        <input
          required
          class="input input-box"
          type="text"
          name="song"
          placeholder="Song name"
          id="song"
        />
      </div>
      <div class="input-container"><input
          required
          class="input input-box"
          type="text"
          name="artist"
          placeholder="Artist"
          id="artist"
        /></div>
      <div class="input-container"><input
          required
          class="input input-box"
          type="text"
          name="album"
          placeholder="Album"
          id="album"
        /></div>
      <button class="button">Add</button>
    </form>
  </div>
{{/if}}