<footer>
            <a href="index.html" class="nav__logo">
                <img src="assets/img/audiohaven.svg" alt="">
                AUDIOHAVEN
            </a>
            <div class="social-icons-container">
                <a href="" class="social-icon"></a>
                <a href="" class="social-icon"></a>
                <a href="" class="social-icon"></a>
            </div>
            <ul class="footer-menu-container">
                <li class="menu-item">Legal</li>
                <li class="menu-item">Privacity</li>
                <li class="menu-item">Contact</li>
            </ul>
            <span class="copyright">&copy; 2023 AUDIOHAVEN. All rights reserved.</span>
        </footer>
