<section class="home">
  <div class="orb orb-first">
    <img
      src="assets/img/pink_and_purple_orb_by_brokenheartdesignz_d6gpib9.png"
      alt=""
    />
  </div>
  <div class="orb orb-second">
    <img
      src="assets/img/pink_and_purple_orb_by_brokenheartdesignz_d6gpib9.png"
      alt=""
    />
  </div>

  <div class="home__container container">
    <div class="home__content">
      <h3 class="home__subtitle">Explore Audible Marvels at</h3>

      <h1 class="home__title">
        <span>
          AUDIOHAVEN
        </span>
      </h1>
      <p class="home__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
        placerat in neque id tristique. Nulla ac convallis.
      </p>
      <a href="/login" class="home__button">Get Started</a>
    </div>

    <div class="home__images">
      <img src="assets/img/woman.png" alt="" class="home__imgPrincipal" />
    </div>

  </div>

</section>