<section class="home__section">
  <div class="container home__container home__section-container">
    <div class="title-container">
      <h1 class="home__section-title">Discover the Ultimate Music Experience:
        <br />
        Your Next-Gen Music Player
      </h1>
    </div>

    <div class="home__section-imgContainer">
      <img
        class="home__section-img"
        src="./assets/img/music-player-app-interface_(1).png"
        alt=""
      />
      <img
        class="home__section-img"
        src="./assets/img/music-player-app-interface_(2).png"
        alt=""
      />
      <img
        class="home__section-img"
        src="./assets/img/music-player-app-interface_(3).png"
        alt=""
      />
    </div>

  </div>
</section>