<nav class="nav container">
  <a href="/" class="nav__logo">
    <img src="/assets/img/audiohaven.svg" alt="" />
    AUDIOHAVEN
  </a>

  <div class="nav__menu" id="nav-menu">
    <ul class="nav__list">

    </ul>

    <a href="/login" class="nav__button">Login</a>

    <!--Close button-->
    <div class="nav__close" id="nav-close">
      <i class="fa-solid fa-xmark"></i>
    </div>
  </div>
  <!--Toggle button-->
  <div class="nav__toggle" id="nav-toggle">
    <i class="fa-solid fa-bars"></i>
  </div>
</nav>